<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Doctor Search {% endblock %}

    {% block content %}
    <div class="container">
        <h1>Search for a Doctor</h1>
        <!-- Corrected form action to use the 'doctor_search' route -->
        <form method="POST" action="{{ url_for('doctor_search') }}">
            <label for="doctor_name">Doctor's Last Name:</label>
            <input type="text" name="doctor_name" id="doctor_name" placeholder="Enter doctor's last name">
            </br> <p>OR</p> </br>
            <label for="cpso_number">CPSO Number:</label>
            <input type="text" name="cpso_number" id="cpso_number" placeholder="Enter CPSO number">

            <button type="submit">Search</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('doctor_login') }}">Login as Doctor</a></p>

    </div>
    {% endblock %}
</body>
</html>
