<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Call</title>
    <link rel="stylesheet" href="path/to/bootstrap.css">
    <script src="path/to/socket.io.js"></script>
    <style>
        #videoContainer {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        video {
            width: 400px;
            height: 300px;
            border: 1px solid black;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h2>Video Call with {{ recipient }}</h2>
            <video id="localVideo" autoplay muted></video>
            <video id="remoteVideo" autoplay></video>
        
            <button id="startCall">Start Call</button>
        </div>
    </div>
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <script src="{{ url_for('static', filename='script/video_call.js') }}"></script>
        
</body>
</html>
